.App-header {
  background-image: url(./assets/nasa-minimal.jpeg);
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(0px + 2vmin);
  margin-top: 0px;
  padding: 1rem;
}